@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face{
	font-family: 'Open Sans Light';
	src: url(../fonts/OpenSans-Light.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face{
	font-family: 'Raleway';
	src: url(../fonts/Raleway-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

html {
	font-size: 62.5%;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: Calibri,Helvetica,Arial,sans-serif;
	font-size: 1.8rem;
	background-color: rgb(251,252,253);
	color: rgb(0,0,0);
	line-height: 2.6rem;
}

/* general headings */

h1 {
	line-height: 3.65rem;
	font-family: Roboto,'Open Sans Light',Helvetica,Arial,sans-serif;
	font-size: 130%;
	font-weight: normal;
	letter-spacing: 0.15rem;
	text-indent: 4.5rem;
	margin: 0;
	padding: 1rem 0;
	color: rgb(32,53,139);
	background-color: rgb(255,255,255);
}

h2 {
	font-family: Raleway;
	font-size: 180%;
	padding: 0.5em 0.7em 0 0.7em;
	margin: 2rem 0 0 1.5rem;
	letter-spacing: 0.125rem;
}

h2.noCategory {
	margin-top: 5.8rem;
}

main.no-nav > h2,
main.search > h2 {
	margin-top: 3.8rem;
	margin-left: 0;
}


h3 {
	font-size: 140%;
	color: rgb(0,0,100);
	margin-top: 1.75em;
}

section#summary > h3 {
    margin-top: -2rem;
}

div#nav-col h3,
div#categories h3,
section > h3 {
	font-weight: normal;
	padding-bottom: 0.5rem;
	border-bottom: 0.1rem solid rgb(20,120,240);
}

h4 {
	font-size: 125%;
}

h5 {
	font-size: 115%;
	color: rgb(0,0,180);
}

a.dest {
	font-size: 1.8rem;
	color: rgb(0,0,200);
	margin-left: -1.8rem;
}

a.dest:visited {
	color: rgb(0,0,200);
}

p.bridgehead {
	font-size: 110%;
	font-style: italic;
	margin-top: 3rem;
}

/* general links */

a {
	text-decoration: none;
}

h1 a {
	color: rgb(32,53,139) !important;
}

nav.mini-toc a,
section#tech span > a {
	border-bottom: none;
}

a:link {
	color: rgb(0,0,200);
}

div#body section a:link {
	border-bottom: 0.1rem dotted rgb(0,0,200);
}

a:visited {
	color: rgb(102,51,102);
}

main section a:visited {
	border-bottom: 0.1rem dotted rgb(102,51,102);
}

a:hover,
a:visited:hover {
	color: rgb(180,0,0);
}

main section a:hover,
main section a:visited:hover {
	border-bottom: 0.1rem dotted rgb(180,0,0);
}

nav a {
	text-decoration: none;
}

a.gloss {
	color: rgb(100,100,100);
}

/* page headers and footers */

header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	height: 5.6rem;
	padding: 0;
	margin: 0;
	z-index: 999;
	border-bottom: 0.5rem solid rgb(27,95,161);
}

footer {
	font-size: 90%;
	padding-bottom: 0;
	border-top: 2px solid rgb(240,240,255);
	background-color: rgb(47,115,181);
	color: rgb(255,255,255);
	font-family: Arial, sans-serif;
}

footer > * {
	padding-left: 5em;
}

.footer-lists {
	margin-top: 2em;
}

.footer-list {
	float: left;
}

.footer-list > div {
	color: rgb(255,255,200);
}

.footer-list > ul {
	list-style-type: none;
	padding-left: 0.1em;
	margin-right: 5em;
}

footer p {
	clear: both;
}

p.copy {
	margin-top: 10em;
	margin-bottom: 0;
	padding: 1em 0 1em 5em;
	background-color: rgb(27,95,161);
}

footer a {
	color: rgb(255,255,255) !important;
}

div#col-wrapper {
	display: grid;
	grid-template-columns: 20% 60% 20%;
	position: relative;
	width: 100%;
}

div#col-wrapper.two-col {
	grid-template-columns: 80% 20%;
}

div#body {
	padding-bottom: 0.5em;
	width: 100%;
	flex-direction: column;
}

div#body.two-col {
	margin-left: 8rem;
}

div#body > * {
	max-width: 44em;
}

main.no-nav,
main.search {
	display: block;
	margin-left: 7rem;
	max-width: 55em;
}

div#body > section,
div#body > details {
	margin-left: 2em;
	margin-right: 2em;
}

main section {
	scroll-margin-top: 12rem;
}

/* skip to main link */

a#skip-main {
	display: block;
	border-radius: 0 0 1rem 1rem;
	font-size: 90%;
	position: absolute;
	left: 45%;
	padding: 0.2rem 1.5rem;
	background: rgb(255,255,255);
	transform: translateY(-100%);
	transition: transform 0.3s;
}

a#skip-main:focus {
	transform: translateY(0%);
}

/* glossary link */

div.toplinks {
	font-size: 75%;
	background-color: rgb(27,95,161);
	border-bottom: 0.1rem solid rgb(180,180,180);
	padding: 0.5rem 0 0.5rem 5rem;
}

ul.menu {
	margin: 0;
	padding: 0;
}

ul.menu > li {
	display: inline-block;
	margin: 0 3rem 0 0;
}

ul.menu > li > ul {
	display: none;
	position: absolute;
	background-color: rgb(27,95,161);
	list-style-type: none;
	padding-left: 1rem;
	width: 15rem;
	margin-left: -1rem;
}

ul.menu a {
	color: rgb(255,255,255);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-size: 1.4rem;
}

ul.menu a:hover {
	color: rgb(255,255,200);
	text-decoration: none;
}

li.hasMenu.open > ul {
	display: block;
}

/* navigation column */

div#nav-col,
div#categories {
	width: 100%;
	border-right: 0.1rem dotted black;
	height: 100vh;
	flex-direction: column;
	background-color: rgb(250,250,250);
	position: -webkit-sticky;
	position: sticky;
	overflow: auto;
	top: 6.2rem;
}

div#categories {
	width: 99%;
	border-left: 0.1rem dotted black;
}


/* nav */

nav.mini-toc {
	color: rgb(0,0,0);
	margin-top: 3rem;
}

nav.mini-toc a:hover,
section#tech a:hover {
	color: rgb(200,0,0);
	border-bottom: 0.2rem solid rgb(200,0,0) !important;
}


/* section nav */
nav.mini-toc {
	font-family: Helvetica,Arial,sans-serif;
	margin-left: 1.15em;
}

nav.mini-toc h3 {
	font-size: 0.9em;
	margin: 0 0 0 0.7em;
}

nav.mini-toc ol {
	list-style-type: none;
	margin: 0;
	padding-left: 1rem;
}

nav.mini-toc li {
	padding: 0.5rem 0.3em 0.5rem 0.8em;
}

nav.mini-toc a {
	font-size: 0.9em;
	color: rgb(0,0,200);
}


/* topic lists */

details#topics {
	width: 60rem;
	background-color: rgb(251,251,251);
	margin-top: 4rem;
}

li.active {
	background-color: rgb(232,242,248);
	border-left: 0.2rem solid blue;
	padding-left: 1.225rem !important;
}

li.active-cat {
	background-color: rgb(240,240,240);
	border: 0.1rem solid grey;
	border-right: 0.6rem solid black;
}

details#topics ol > li > ol {
	list-style-type: none;
}

details#topics summary {
	font-weight: bold;
	width: 57.5rem;
	margin-top: 0;
}

details#topics nav {
	margin-top: -1.3rem;
}

details > p.topic_subtitle {
	margin-left: 3rem;
	margin-top: 0;
	max-width: 65rem;
}

span.topic_subtitle {
	font-size: 80%;
}

main.category p.topic_subtitle {
	margin-left: 3.5rem;
}

nav#toc > ol {
	padding: 0;
}

/* applicable technologies */

section#applies-to > table {
	border: none;
}

section#applies-to > table > tbody > tr > th {
	background-color: rgb(47,115,181);
	width: 12rem;
	border-color: rgb(0,0,0);
}

section#applies-to > table > tbody > tr > td {
	width: 12rem;
	text-align: center;
	border-color: rgb(0,0,0);
}

section#applies-to > table > tbody > tr > th > a,
section#applies-to > table > tbody > tr > th > a:link,
section#applies-to > table > tbody > tr > th > a:visited {
	color: rgb(255,255,255);
	border-bottom: none;
}

section#applies-to > table > tbody > tr > th > a:hover {
	color: rgb(255,255,200);
	text-decoration: underline;
}

td.yes {
	background-color: rgb(200,255,200);
}

td.no {
	background-color: rgb(255,200,200);
}

td.partial {
	background-color: rgb(240,240,240);
}

p.small {
	font-size: 80%;
}

/* section spacing */

section {
	margin-top: 2.5em;
}

main {
	margin-top: 0;
}

/* example formatting*/


pre {
	font-family: "Courier New", Courier, Monospace;
	font-size: 90%;
	padding: 0;
	white-space: pre-wrap;
}

pre.small { font-size: 85%; }

pre ol {
	padding-left: 3em;
}

pre > ol > li {
	padding-left: 0.3em;
	background-color: rgb(255,255,255);
	width: 98%;
}

code {
	font-size: 90%;
	color: rgb(198,58,2);
	padding: 0.4rem 0.4rem 0.2rem 0.4rem;
}

pre code {
	font-weight: normal;
	font-size: 95%;
	border-radius: 0;
	border: none !important;
}

code.prettyprint {
	font-family: "Courier New", Courier, Monospace;
	font-weight: normal;
}

pre.prettyprint {
	border-left: 0.3rem solid rgb(20,120,240) !important;
	background-color: inherit !important;
}

pre.prettyprint * {
	background-color: inherit !important;
}

ol.linenums {
	background-color: rgb(245,245,245) !important;
}

ol.linenums li {
	background-color: rgb(255,255,255) !important;
}


/* examples outside the examples section */

section:not([id='ex']) figure {
	border: 0.1rem solid rgb(0,0,90);
	background-color: rgb(248,252,255);
	padding: 1rem;
}
section:not([id='ex']) figcaption > p.label {
	padding: 0;
	margin: 0;
}



/* sample section styles */

section.sample {
	padding: 0 0.5em;
}

section.sample > h3 {
	margin-bottom: 0;
	padding-bottom: 0.2em;
}

section > ul > li {
	margin-top: 0.75em;
}

section > ul > li > ul > li {
	margin-top: 0.3em;
}


/* FAQ styles */

section#faq dt {
	font-weight: bold;
	margin-top: 0.5em;
}

figure {
	margin: 1.5em;
}

figcaption > .label {
	font-weight: bold;
	color: rgb(0,0,0);
	margin: 2.5em 0 1em 0;
}

figure p,
figure details,
figure div {
	margin-left: 2em;
}

/* lists */

ul.multicol {
	list-style-type: none;
	width: 100%;
	margin-left: 0;
}

ul.multicol li {
	float: left;
	padding-left: 1em;
	width: 12em;
}


/* general formatting*/

br {
	clear: both;
}

img.sub {
	vertical-align: middle;
}

p.ack {
	text-align: right;
	font-size: 0.8em;
	color: rgb(80,80,80);
	margin-top: -1em;
	padding-top: 0;
}

p.switch {
	font-size: 0.75em;
	margin-top: -1.6em;
	margin-left: 1.8em;
}

p.desc {
	font-style: italic;
}

#roles code {
	background-color: inherit;
	border: none;
	font-weight: bold;
	color: rgb(0, 0, 120);
}
#roles code {
	font-weight: normal;
	color: rgb(0, 0, 0);
	font-size: 1.4rem;
	padding: 0;
}

/* general directionality */
.center {
	text-align: center;
}

aside {
	max-width: 38em;
}

/* warnings */
div.warning,
div.caution,
div.note {
	margin: 2em 0 2em 1em;
	padding: 0;
	width: 80%;
	border-radius: 1rem;
	max-width: 48em;
}

div.note {
	border: 0.1em solid rgb(0,160,255);
}

div.warning {
	border-right: 0.1em solid rgb(180,0,0);
	border-bottom: 0.1em solid rgb(180,0,0);
	border-left: 0.1em solid rgb(180,0,0);
}

div.caution {
	border-right: 0.1em solid rgb(255,243,128);
	border-bottom: 0.1em solid rgb(255,243,128);
	border-left: 0.1em solid rgb(255,243,128);
}

div.warning p.label,
div.caution p.label,
div.note p.label {
	color: rgb(0,0,0);
	font-size: 1.6rem;
	font-weight: bold;
	text-indent: 1em;
	padding: 0.3em;
	margin: 0 0 0 -0.06rem;
	background-color: rgb(191,231,254);
	border-radius: 0.5em 0.5em 0 0;
}

div.warning p.label {
	background-color: rgb(180,0,0);
	color: rgb(255,255,255);
}

div.caution p.label {
	background-color: rgb(255,243,128);
}

div.note p:not(.label),
div.warning p:not(.label),
div.caution p:not(.label),
div.note li,
div.caution li,
div.warning li {
	margin: 1em;
	font-size: 1.6rem;
}

span.atrisk {
	color: rgb(190,0,0);
}

/* tables */

table {
	border-collapse: collapse;
	border: 1px solid rgb(0,0,255);
}

td, th {
	padding: 0.3em;
	border: 1px solid rgb(98,169,249);
}

th {
	font-size: 90%;
	background-color: rgb(172,209,252);
}

caption {
	font-weight: bold;
	font-size: 95%;
	margin-bottom: 0.5em;
}

/* figures */

figure img {
	display: block;
	margin: 1em auto;
}

figure > img + details {
	margin-top: -1em;
}

figure > img + details > summary {
	font-size: small;
}

.figlabel {
	font-weight: bold;
}


/* console output */

pre.console {
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 90);
	padding: 1em;
}


/* lists */

.none {
	list-style-type: none;
}

li {
	margin-top: 0.4em;
}

pre li {
	margin-top: auto;
}


/* annotations */

ruby {
	text-decoration: underline;
}

rt {
	text-align: left;
	font-size: 0.7em;
}


/* glossary */

body#glossary nav#toc ol {
	max-width: 72rem;
	grid-template-columns: repeat(auto-fit,minmax(12rem,1fr));
	padding-left: 0;
}

.glossary dt {
	font-family: 'Raleway',Helvetica,Arial,sans-serif;
	font-size: 1.8rem;
	color: rgb(0,0,180);
	margin-top: 3rem;
	border-bottom: 0.1rem solid blue;
}

.glossary dt + dt {
	margin-top: 1rem;
}

.glossary dt.alt-term {
	border-bottom: none;
}

a[role='doc-glossref'] {
	color: rgb(90,90,90);
	border-bottom: 0.1rem dotted rgb(90,90,90);
}

a[role='doc-glossref']:hover {
	color: rgb(180,0,0);
	border-bottom: 0.1rem dotted rgb(180,0,0);
}


/* value lists */

#value dt,
dl.value dt {
	font-size: 2.2rem;
	color: rgb(20, 100, 240);
	margin-left: 1rem;
	margin-top: 3rem;
	border-left: 0.3rem solid rgb(180, 180, 180) !important;
	padding-left: 1rem;
}

#value dd figure {
	padding: 1rem;
	margin: 3rem 0;
	border: 0.1rem solid grey;
	background-color: rgb(240, 245, 250);
}

dl.value pre {
	margin-left: 3rem;
}

#value dd figcaption > p.label {
	font-weight: normal;
	font-style: italic;
	font-size: 1.6rem;
	margin: 0;
}

#value dd pre.prettyprint {
	border-left: none !important;
}


/* descriptions in details */

details.desc {
	font-size: small;
}

details.desc pre {
	border-left: none !important;
	font-size: small;
	padding: 1rem;
	border: 1px solid rgb(200,200,200) !important;
	background-color: rgb(250,250,250) !important;
}


/* wcag explainer tables */

table.sc-info {
	width: 100%;
	border: none;
}

table.sc-info td {
	border: none;
	padding: 1rem;
}

table.sc-info th {
	font-size: 100%;
	border: none;
	background-color: inherit;
	text-align: left;
	vertical-align: top;
	padding-top: 1rem
}

table.sc-info td.desc > p:first-child {
	margin-top: 0;
}

table.sc-info td.docs ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

table.sc-info td.docs ul > li:first-child {
	margin-top: 0;
}



/* to classify */

span.date {
	color: rgb(0,0,180);
}

q {
	quotes: '"' '"';
}

img.logo {
	vertical-align: bottom;
	padding-right: 0.5em;
}

.wcag-level {
	font-size: 90%;
	color: rgb(0,0,120);
}


body > section > section {
	border-top: 0.1rem dotted rgb(210,210,210);
	padding: 0 0.5em;
}


#tech li {
	margin-top: 1rem !important;
}

div.related {
	margin-left: 3rem;
}


/* copy to clipboard buttons */

input.copy {
	width: 7rem;
	height: 3rem;
	border-radius: 1rem;
	background-color: rgb(255,255,255);
	color: rgb(0,0,250);
	border-color: rgb(0,0,250);
	box-shadow: 0.2rem 0.4rem rgb(220,220,220);
}

input.copy:hover {
	color: rgb(250,0,0);
	border-color: rgb(250,0,0);
}


/* google search override */

main.search h2.noCategory {
	margin-left: 0;
}

#search {
	float: right;
	margin-top: -5.1rem;
	margin-right: 2rem;
	max-width: 40rem;
	min-width: 30rem;
}

#search table,
#search-results table,
#search td,
#search-results td {
	border: none;
}

#search table,
#search td {
	background-color: rgb(255,255,255);
}

#search div,
#search-results div {
	background-color: rgb(251,252,253);
}

td.gssb_a {
	border: none;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
}

/* back to top links */

p.backtotop {
	text-align: right;
	max-width: 48em;
	line-height: 1rem;
	margin: 7rem 2rem 10rem 0;
}


/* zoom and mobile fixes */

@media screen and (max-width: 800px) {
	nav.mini-toc {
		margin-left: 0;
	}
}	

@media screen and (max-width: 600px),
@media only screen
	and (max-device-width: 480px) {
	
	header {
		width: 100vw;
		display: block;
		position: relative;
		height: auto;
		margin-left: 1rem;
	}
	
	h1 {
		text-indent: 0;
		display: table-row;
	}
	h1 img {
		display: table-cell;
		padding-top: 1em;
		padding-left: 0.5em;
	}
	
	h1 a {
		display: table-cell;
		vertical-align: top;
		padding-top: 1.2rem;
		padding-bottom: 1rem;
		color: rgb(32,53,139) !important;
	}
	
	h1 a:visited {
		color: rgb(32,53,139) !important;
	}
	
	div#col-wrapper {
		display: block;
		grid-template-columns: unset;
	}
	
	div#body.two-col {
		margin-left: 1rem;
	}
	
	main,
	main.index,
	main.no-nav,
	main.search {
		padding-left: 0;
		margin-left: 0;
		width: auto;
		max-width: 100vw;
	}
	
	div#page-title {
		margin-left: 0;
	}
	
	div#nav-col,
	div#categories {
		height: auto;
	}
	
	div#col-wrapper {
		display: block;
	}
	
	div#nav-col {
		margin-top: 0;
		display: block;
		height: auto;
		position: relative;
		width: 100%;
		border-right: none;
		background-color: rgb(245,245,245);
		top: unset;
	}
	
	#search {
		float: none;
		margin-top: 0;
		min-width: 10rem;
	}
	
	nav.mini-toc {
		margin-left: 0;
	}
	
	div#body {
		display: block;
	}
	
	footer > * {
		padding-left: 2em;
	}
	
	.footer-list {
		float: none;
	}
	
	p.copy {
		margin-top: 2rem;
		padding-left: 2rem;
	}
	
	body#glossary nav#toc ol {
		padding-left: 2rem;
	}
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}