
@font-face{
	font-family: 'Open Sans Light';
	src: url(../fonts/OpenSans-Light.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face{
	font-family: 'Raleway';
	src: url(../fonts/Raleway-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}


html {
	font-size: 62.5%;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: Calibri,Helvetica,Arial,sans-serif;
	font-size: 1.8rem;
	background-color: rgb(251,252,253);
	color: rgb(0,0,0);
	line-height: 2.6rem;
}

/* general headings */

h1 {
	font-family: 'Open Sans Light',Helvetica,Arial,sans-serif;
	font-size: 130%;
	letter-spacing: 0.15rem;
	text-indent: 4.5rem;
	color: rgb(255,255,255);
	margin: 0;
	padding: 1rem 0;
	background-color: rgb(27,95,161);
}

h1 a {
	color: inherit !important;
}

h1 a:hover {
	border-bottom: none !important;
	text-decoration: underline;
}

h2 {
	font-family: Raleway;
	font-size: 150%;
	padding: 0.7em;
	margin: 1em 0 0 0;
	letter-spacing: 0.125rem;
}


h3 {
	font-size: 140%;
	color: rgb(0,0,100);
	margin-top: 1.75em;
}

h4 {
	font-size: 125%;
}

h5 {
	font-size: 115%;
	color: rgb(0,0,180);
}

a.dest {
	font-size: 1.8rem;
	color: rgb(0,0,200);
	margin-left: -1.8rem;
}

a.dest:visited {
	color: rgb(0,0,200);
}

p.bridgehead {
	font-size: 110%;
	font-style: italic;
	margin-top: 3rem;
}

/* general links */

a {
	text-decoration: none;
}

nav.breadcrumb a,
nav.mini-toc a,
section#tech a {
	border-bottom: none;
}

a:link {
	color: rgb(0,0,200);
}

main section a:link {
	border-bottom: 0.1rem dotted rgb(0,0,200);
}

a:visited {
	color: rgb(102,51,102);
}

main section a:visited {
	border-bottom: 0.1rem dotted rgb(102,51,102);
}

a:hover,
a:visited:hover {
	color: rgb(180,0,0);
}

main section a:hover,
main section a:visited:hover {
	border-bottom: 0.1rem dotted rgb(180,0,0);
}


h1 a, nav a {
	text-decoration: none;
}

/* page headers and footers */

header {
	padding: 0;
	margin: 0;
}

footer {
	font-size: 90%;
	margin: 3em 0 0 0;
	padding-bottom: 0;
	border-top: 2px solid rgb(240,240,255);
	background-color: rgb(47,115,181);
	color: rgb(255,255,255);
	font-family: Arial, sans-serif;
}

footer > * {
	padding-left: 5em;
}

.footer-lists {
	margin-top: 2em;
}

.footer-list {
	float: left;
}

.footer-list > div {
	color: rgb(255,255,200);
}

.footer-list > ul {
	list-style-type: none;
	padding-left: 0.1em;
	margin-right: 5em;
}

footer p {
	clear: both;
}

p.copy {
	margin-top: 10em;
	margin-bottom: 0;
	padding: 1em 0 1em 5em;
	background-color: rgb(27,95,161);
}

footer a {
	color: rgb(255,255,255) !important;
}

main {
	/* border-right: 1px solid rgb(0,0,0); */
	padding-bottom: 0.5em;
	max-width: 44em;
	margin-left: 5rem;
}

main > section,
main > details {
	margin-left: 2em;
}

/* glossary link */

div.toplinks {
	font-size: 75%;
	background-color: rgb(49,49,49);
	border-bottom: 0.1rem solid rgb(180,180,180);
	padding-left: 5rem;
}

div.toplinks > a {
	color: rgb(255,255,255);
	text-decoration: none;
	margin-right: 3rem;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1rem;
}

div.toplinks > a:hover {
	color: rgb(255,255,200);
	text-decoration: none;
}

/* breadcrumb nav */

nav.breadcrumb {
	color: rgb(0,0,0);
	text-indent: 0.5em;
	margin-top: 0.3em;
	margin-left: 1.15em;
	padding: 2px 0;
	width: 35em;
	background-color: rgb(240,245,255);
	border-radius: 1rem;
}

nav.breadcrumb > p {
	margin: 0;
	margin-top: -0.2em;
	padding: 0.3rem;
	font-size: 90%;
}

nav.breadcrumb > p > a,
nav.breadcrumb > p > span {
	font-size: 100%;
	padding: 0 1rem;
}

nav.breadcrumb > p > a:first-child {
	padding: 0 1rem 0 0;
}

nav.breadcrumb a:hover,
nav.mini-toc a:hover,
section#tech a:hover {
	border-bottom: none;
	text-decoration: underline;
}

/* section nav */
nav.mini-toc {
	font-family: Helvetica,Arial,sans-serif;
	margin-left: 1.15em;
	margin-top: 0.3em;
	min-width: 7em;
}

nav.mini-toc h3 {
	font-size: 0.8em;
	margin: 0 0 0 0.7em;
	border: none;
	display: inline-block;
}

nav.mini-toc h3:before,
nav.mini-toc h3:after {
	content: '';
}

nav.mini-toc ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

nav.mini-toc li {
	font-size: 0.9em;
	padding: 0 0.3em 0 0.8em;
	display: inline-block;
}

nav.mini-toc a {
	font-size: 0.9em;
}


/* topic lists */

details#topics {
	width: 60rem;
	background-color: rgb(251,251,251);
	border: 0.1rem solid rgb(0,0,0);
	margin-top: 4rem;
}
details#topics ol > li > ol {
	list-style-type: none;
}
details#topics summary {
	border-left: 0.5rem solid rgb(0,0,180);
	background-color: rgb(240,240,240);
	width: 57.5rem;
	padding: 1rem 0 1rem 2rem;
	margin-top: 0;
}
ol.col {
	height: 45rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom: 0;
}


/* applicable technologies */

aside.applies-to {
	float: right;
	padding: 0.75rem 1.5rem;
	margin-top: -12.9rem;
	padding-bottom: 1rem;
	font-size: 1.5rem;
	background-color: rgb(250,250,250);
	border: 0.1rem solid cornflowerblue;
	border-radius: 1.3rem;
}

aside.applies-to > h3:before {
	content: '';
}

aside.applies-to > h3 {
	font-size: 105%;
	margin: 0;
}

aside.applies-to > ul {
	list-style-type: none;
	padding: 0 0 0 0.5rem;
	margin: 0;
}

aside.applies-to > ul > li:before {
	content: ' - '
}

aside.applies-to > ul > li {
	line-height: normal;
}

aside.applies-to a {
	text-decoration: none;
	color: rgb(0,0,200);
	border-bottom: none;
}


/* section spacing */

section {
	margin-top: 2.5em;
}

main {
	margin-top: 0;
}


/* example formatting*/


pre {
	font-family: "Courier New", Courier, Monospace;
	font-size: 90%;
	padding: 0;
	white-space: pre-wrap;
}

pre.small { font-size: 85%; }

pre ol {
	padding-left: 3em;
}

pre > ol > li {
	padding-left: 0.3em;
	background-color: rgb(255,255,255);
	width: 98%;
}

code {
	font-size: 90%;
	color: rgb(198,58,2);
	padding: 0.4rem 0.4rem 0.2rem 0.4rem;
}

pre code {
	font-family: "Courier New", Courier, Monospace;
	font-weight: normal;
	font-size: 95%;
	border-radius: 0;
	border: none !important;
}

code.prettyprint {
	font-family: "Courier New", Courier, Monospace;
	font-weight: normal;
}

pre.prettyprint {
	border-left: 0.3rem solid rgb(20,120,240) !important;
	background-color: inherit !important;
}

pre.prettyprint * {
	background-color: inherit !important;
}

ol.linenums {
	background-color: rgb(245,245,245) !important;
}

ol.linenums li {
	background-color: rgb(255,255,255) !important;
}


/* examples outside the examples section */

section:not([id='ex']) figure {
	border: 0.1rem solid rgb(0,0,90);
	background-color: rgb(248,252,255);
	padding: 1rem;
}
section:not([id='ex']) figcaption > p.label {
	padding: 0;
	margin: 0;
}



/* sample section styles */

section.sample {
	padding: 0 0.5em;
}

section.sample > h3 {
	margin-bottom: 0;
	padding-bottom: 0.2em;
}

section > ul > li {
	margin-top: 0.75em;
}

section > ul > li > ul > li {
	margin-top: 0.3em;
}


/* FAQ styles */

section.faq {
	padding: 0 0.5em;
}

dl.faq dt {
	font-weight: bold;
	margin-top: 0.5em;
}

figure {
	margin: 1.5em;
}

figcaption > .label {
	font-weight: bold;
	color: rgb(0,0,0);
	margin: 2.5em 0 1em 0;
}

figure p,
figure details,
figure div {
	margin-left: 2em;
}

/* lists */

ul.multicol {
	list-style-type: none;
	width: 100%;
	margin-left: 0;
}

ul.multicol li {
	float: left;
	padding-left: 1em;
	width: 12em;
}


/* general formatting*/

br {
	clear: both;
}

img.sub {
	vertical-align: middle;
}

p.ack {
	text-align: right;
	font-size: 0.8em;
	color: rgb(80,80,80);
	margin-top: -1em;
	padding-top: 0;
}

p.switch {
	font-size: 0.75em;
	margin-top: -1.6em;
	margin-left: 1.8em;
}

p.desc {
	font-style: italic;
}

#roles code {
	background-color: inherit;
	border: none;
	font-weight: bold;
	color: rgb(0, 0, 120);
}
#roles code {
	font-weight: normal;
	color: rgb(0, 0, 0);
	font-size: 1.4rem;
	padding: 0;
}

/* general directionality */
.center {
	text-align: center;
}

aside {
	max-width: 38em;
}

/* warnings */
div.warning,
div.note {
	margin: 2em 0 2em 1em;
	padding: 0;
	width: 80%;
	border-radius: 1rem;
	max-width: 48em;
}

div.note {
	border: 0.1em solid rgb(0,160,255);
}

div.warning {
	border-right: 0.1em solid rgb(180,0,0);
	border-bottom: 0.1em solid rgb(180,0,0);
	border-left: 0.1em solid rgb(180,0,0);
}

div.warning p.label,
div.note p.label {
	color: rgb(0,0,0);
	font-size: 1.6rem;
	font-weight: bold;
	text-indent: 1em;
	padding: 0.3em;
	margin: 0;
	background-color: rgb(191,231,254);
	border-radius: 0.5em 0.5em 0 0;
}

div.warning p.label {
	background-color: rgb(180,0,0);
	color: rgb(255,255,255);
}

div.note p:not(.label),
div.warning p:not(.label),
div.note li,
div.warning li {
	margin: 1em;
	font-size: 1.6rem;
}

span.atrisk {
	color: rgb(190,0,0);
}

/* tables */

table {
	border-collapse: collapse;
	border: 1px solid rgb(0,0,255);
}

td, th {
	padding: 0.3em;
	border: 1px solid rgb(0,0,255);
}

th {
	font-size: 90%;
	background-color: rgb(236,236,236);
}

caption {
	font-weight: bold;
	font-size: 95%;
	margin-bottom: 0.5em;
}

/* figures */

figure img {
	display: block;
	margin: 1em auto;
}

figure > img + details {
	margin-top: -1em;
}

figure > img + details > summary {
	font-size: small;
}


/* console output */

pre.console {
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 90);
	padding: 1em;
}


/* lists */

.none {
	list-style-type: none;
}

li {
	margin-top: 0.4em;
}

pre li {
	margin-top: auto;
}


/* annotations */

ruby {
	text-decoration: underline;
}

rt {
	text-align: left;
	font-size: 0.7em;
}


/* glossary */

.glossary dt {
	font-family: 'Raleway',Helvetica,Arial,sans-serif;
	font-size: 1.8rem;
	color: rgb(0,0,180);
	margin-top: 3rem;
	border-bottom: 0.1rem solid blue;
}

.glossary dt + dt {
	margin-top: 1rem;
}

.glossary dt.alt-term {
	border-bottom: none;
}

a[role='doc-glossref'] {
	color: rgb(90,90,90);
	border-bottom: 0.1rem dotted rgb(90,90,90);
}

a[role='doc-glossref']:hover {
	color: rgb(180,0,0);
	border-bottom: 0.1rem dotted rgb(180,0,0);
}


/* value lists */

#value dt,
dl.value dt {
	font-size: 2.2rem;
	color: rgb(20, 100, 240);
	margin-left: 1rem;
	margin-top: 3rem;
	border-left: 0.3rem solid rgb(180, 180, 180) !important;
	padding-left: 1rem;
}

#value dd figure {
	padding: 1rem;
	margin: 3rem 0;
	border: 0.1rem solid grey;
	background-color: rgb(240, 245, 250);
}

dl.value pre {
	margin-left: 3rem;
}

#value dd figcaption > p.label {
	font-weight: normal;
	font-style: italic;
	font-size: 1.5rem;
	margin: 0;
}

#value dd pre.prettyprint {
	border-left: none !important;
}


/* descriptions in details */

details.desc {
	font-size: small;
}

details.desc pre {
	border-left: none !important;
	font-size: small;
	padding: 1rem;
	border: 1px solid rgb(200,200,200) !important;
	background-color: rgb(250,250,250) !important;
}



/* to classify */

span.date {
	color: rgb(0,0,180);
}

q {
	quotes: '"' '"';
}

img.logo {
	vertical-align: bottom;
	padding-right: 0.5em;
}

.wcag-level {
	font-size: 90%;
	color: rgb(0,0,120);
}


body > section > section {
	border-top: 0.1rem dotted rgb(210,210,210);
	padding: 0 0.5em;
}


#tech li {
	margin-top: 1rem !important;
}

div.related {
	margin-left: 3rem;
}


/* google search override */

#search table,
#search td {
	border: none;
}

#search div {
	background-color: rgb(251,252,253);
}

/* back to top links */

p.backtotop {
	text-align: right;
	max-width: 48em;
	line-height: 1rem;
}


/* mobile fixes to display */

@media only screen
	and (max-device-width: 480px) {
	h1 {
		text-indent: 0;
		display: table-row;
	}
	h1 img {
		display: table-cell;
		padding-top: 0.5em;
		padding-left: 0.5em;
	}
	
	h1 a {
		display: table-cell;
	}
	
	div.toplinks {
		font-size: 70%;
		padding-left: 2rem;
	}
	aside.applies-to {
		float: none;
		margin-top: inherit;
		margin-top: 3rem;
	}
	main {
		margin-left: 1rem;
	}
}