
body {
}

nav#toc {
	margin: 2em 0 0 2em;
	padding: 0em;
}

nav#toc h2 {
	color: rgb(27, 95, 161);
    margin: 2rem 0rem;
}

nav#toc > section {
    margin: 0 0 0 3rem;
    padding: 1rem;
}

nav#toc > section > section {
	margin: 1rem 0 0 0;
}

nav#toc h3 {
	color: rgb(0,0,0);
	margin: 0 0 0 3rem;
}

nav#toc h3::before {
	content: '';
}

nav#toc h4 {
	margin: 0 0 0 3rem;
}

nav#toc ol {
	list-style-type: none;
	max-width: 80rem;
}

nav#toc li {
	border: 0.1rem solid rgb(0,0,120);
	background-color: rgb(247,252,255);
	border-radius: 0.5rem;
	padding: 0.5rem;
	display: inline-block;
	width: 20rem;
	margin: 0.5rem;
}

nav#toc li:hover {
	background-color: rgb(255,255,220);
}

nav#toc a {
	text-decoration: none;
	color: rgb(0,0,200) !important;
	border: none !important;
	display: inline-block;
	width: 20rem;
}
