
body {
    background-color: rgb(242,242,242)
}

nav#toc {
	margin: 2em 0 0 2em;
	padding: 0em;
}

nav#toc h2 {
    margin-left: -3rem;
    margin-bottom: 2rem;
}

nav > section {
    margin: 0;
    padding: 1rem;
}

nav > section > h3 {
    margin-top: 0;
}

ol {
	list-style-type: none;
	-moz-column-width: 15em;
    -webkit-column-width: 15em;
    column-width: 15em;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    max-width: 60rem;
}

a {
	text-decoration: none;
}
