
body {
}

nav#toc {
	margin: 2em 0 0 2em;
	padding: 0em;
}

nav#toc h2 {
    margin-bottom: 2rem;
}

nav > section {
    margin: 0;
    padding: 1rem;
}

nav > section > h3 {
    margin-top: 0;
}

ol {
	list-style-type: none;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    max-width: 80rem;
}

a {
	text-decoration: none;
}
