<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>X | Accessible Publishing Knowledge Base</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!--[if lt IE 9]> 			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> 		<![endif]-->
		<link type="text/css" rel="stylesheet" href="../../../css/kb.css" />
		<link type="text/css" rel="stylesheet" href="../../../css/prettify.css" />
		<script type="text/javascript" src="../../../js/prettify.js"></script>
		<script type="text/javascript" src="../../../js/jquery172min.js"></script>
		<script type="text/javascript"> 	// <![CDATA[
			$(document).ready(function () {
				prettyPrint();
			});//]]> </script>
	</head>

	<body>
		<header>
			<h1><img class="logo" src="../../../graphics/daisy_logo.png" alt="DAISY"/> <a href="http://kb.daisy.org/publishing/">Accessible Publishing Knowledge Base</a></h1>
		</header>
		<main>
			<h2>X</h2>

			<nav class="breadcrumb">
				<p><a href="../index.html">KB</a> > <a href="index.html">HTML</a> > <span>X</span></p>
			</nav>

			<section id="summary">
				<h3>Summary</h3>
				
				<p>...</p>
			</section>
			
			<section id="tech">
				<h3>Techniques</h3>
				
				<ul>
					<li>... <span class="wcag-level">[<a href="https://www.w3.org/TR/WCAG20/#">WCAG #</a>]</span>
						<ul>
							<li><a href="https://www.w3.org/TR/WCAG20-TECHS/X.html">...</a></li>
						</ul>
					</li>
				</ul>
			</section>

			<section id="ex">
				<h3>Examples</h3>

			</section>
			
			<section id="desc">
				<h3>Explanation</h3>
				
				<p>...</p>
			</section>
			
			<section id="refs">
				<h3>References</h3>

				<ul>
					<li>...</li>
				</ul>
			</section>
		</main>
		<footer>
			<p>To report typos, errors and omissions, please open an issue in the <a href="https://github.com/DAISY/kb/issues">github tracker</a>.</p>
			<p>For a list of changes to this page, refer to the <a href="https://github.com/DAISY/kb/commits/master/docs/html/works.html">commit log</a>.</p>
			<p><a href="http://www.daisy.org/terms-use">Terms of Use</a></p>
		</footer>
		<script type="text/javascript" src="../../../js/init.js"></script>
	</body>
</html>
